# Virtual Environment (Wajib)
venv/
.venv/
env/

# Python Cache (Wajib)
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook Checkpoints (Karena kamu punya folder notebooks)
.ipynb_checkpoints/

# IDE / Editor Settings
.vscode/
.idea/

# File Model Weights (YOLO .pt)
# Catatan: GitHub membatasi ukuran file maksimal 100MB. 
# Jika file best.pt atau best_video.pt kamu ukurannya besar, aktifkan ini:
models/*.pt

# File Sampah / Hasil Tes Lokal (Opsional tapi disarankan)
tools/frames/
tools/video/
*.mp4
*.avi
*.jpg
*.png